.wcb-container__wrap {
	> .is-selected {
		/* box-shadow: none !important; */
	}
}

.wcb-container__inner {
	/* @apply shadow-none #{!important}; */

	&.block-editor-block-list__layout.block-editor-block-list__block {
		position: initial !important;
	}

	.block-editor-button-block-appender {
		/* box-shadow: none; */
	}

	.block-list-appender.wp-block {
		/* width: unset;
		flex: none; */

		/* box-shadow: none;

		position: absolute;
		list-style: none;
		padding: 0;
		z-index: 2;
		bottom: 0;
		right: 0;
		button {
			padding: 0;
		} */
		/* &:only-child {
			position: relative;
			right: auto;
			align-self: center;
			list-style: none;
			line-height: inherit;
			button {
				padding: 8px;
			}
		} */
	}
}
