.wcb-container__wrap {
	position: relative;
	/*  */
	padding: 0.75rem;
	&:not(.is_wcb_container_child) {
		flex: 0 1 auto;
	}
}

.wcb-container__inner {
	position: initial;
	width: 100%;
	display: flex;
	flex: 1 1 0%;
	margin: 0 auto;
	> * {
		max-width: 100%;
	}
	> .block-list-appender {
		width: 100%;
	}
	.wp-block {
		margin: unset;
	}

	.wcb-container__wrap {
		&.is_wcb_container_child {
			max-width: unset;
			flex: 0 1 auto;
		}
	}
}
