body .wcb-container__wrap {
	.wp-block {
		margin-left: initial;
		margin-right: initial;
	}
	.wcb-container__inner {
		margin: 0 auto;
	}
}

@media (min-width: 1025px) {
	body .wcb-hide-desktop {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	body .wcb-hide-tab {
		display: none !important;
	}
}

@media (max-width: 767px) {
	body .wcb-hide-mob {
		display: none !important;
	}
}

/*  */
.wcb-container__wrap {
	position: relative;
	/*  */
	padding: 0.75rem;
	&:not(.is_wcb_container_child) {
		flex: 0 1 auto;
	}

	/* can xem lai cho nay, vi no dang ngan phan margin cá»§a container child */
	.wcb-container__inner {
		.wcb-container__wrap.is_wcb_container_child {
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}
}

.wcb-container__inner {
	position: initial;
	width: 100%;
	display: flex;
	flex: 1 1 0%;
	margin: 0 auto;
	> * {
		max-width: 100%;
	}
	.wp-block[data-align="full"] {
		max-width: 100%;
	}

	> .block-list-appender {
		width: 100%;
	}

	.wcb-container__wrap {
		&.is_wcb_container_child {
			max-width: unset;
			flex: 0 1 auto;
		}
	}
}

.wcb-container__wrap .wcb-container__inner  {
    justify-content: space-around !important;
}