.wcb-container__wrap {
	position: relative;
}

.wcb-container__inner {
	width: 100%;
	display: flex;
	flex: 1 1 0%;
	position: relative;
	margin: 0 auto;
	> * {
		/* flex: 1 1 0%; */
		width: 100%;
	}
	.wcb-container__wrap {
		&.is_wcb_container_child {
			/* flex: 1 1 0%; */
			max-width: unset;
			flex: 1 1 auto;
		}
	}

	.block-list-appender.wp-block {
		width: unset;
		flex: none;
	}
}
