.wcb-icon__content {
	flex-grow: 1;
}

.wcb-icon__icon-wrap {
	flex-shrink: 0;
}
.wcb-icon__icon {
	display: flex;
    align-content: center;
}

.wcb-icon__content-title {
	flex-grow: 0;
}

.wcb-icon__heading {
	margin: 0;
}

.wcb-icon__separator {
	display: inline-block;
}

.wcb-icon__content-wrap {
	flex-grow: 1;
}

.wcb-icon__image {
	flex-shrink: 0;
	display: inline-block;
}