.wcb-container-box__wrap {
	@apply select-none;
	&:before {
		content: "";
		@apply absolute inset-0 border border-dashed border-slate-300;
	}
	&:hover::before {
		@apply border-slate-500;
	}
	&.has-child-selected {
		&:before {
			display: none !important;
		}
	}
}
.wcb-container-box__inner {
	@apply select-none;
	&:after {
		inset: calc(-1rem + 1px) !important;
	}
	&.has-child-selected {
		&:after {
			inset: 1px !important;
		}
	}
}
