.wcb-button__wrap {
	text-decoration: none;
}
.wcb-button__main {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	cursor: pointer;
	@apply px-6 py-2.5;
	/* &--primary,
	&--with_leading_icon,
	&--with_trailing_icons,
	&--round,
	&--circular {
		background-color: #0284c7;
		color: white;
		border: 1px solid #0284c7;
	}
	&--secondary {
		background-color: #e0f2fe;
		color: #0284c7;
		border: 1px solid #e0f2fe;
	}
	&--white {
		background-color: #fff;
		color: #111827;
		border: 1px solid #d1d5db;
	}
	&--round {
		border-radius: 999px;
	} */
	&--circular {
		@apply px-3 py-3;
	}
}

.wcb-button__text {
}

.wcb-button__icon {
	@apply flex items-center flex-shrink-0;
	&.is-image img,
	&.is-svg svg {
		@apply w-full;
	}
}

.wcb-button__main-icon-top,
.wcb-button__main-icon-bottom {
	flex-direction: column;
}
