/* CSS VARIABLE ROOT */
:root {
	--radius-sm: 0.125rem;
	--radius-DEFAULT: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-full: 9999px;
}

.ncmaztheme-no-radius {
	--radius-sm: 0;
	--radius-DEFAULT: 0;
	--radius-md: 0;
	--radius-lg: 0;
	--radius-xl: 0;
	--radius-2xl: 0;
	--radius-3xl: 0;
	--radius-full: 0;
}

.ncmaztheme-sm-radius {
	--radius-sm: 0.25rem;
	--radius-DEFAULT: 0.25rem;
	--radius-md: 0.25rem;
	--radius-lg: 0.25rem;
	--radius-xl: 0.25rem;
	--radius-2xl: 0.25rem;
	--radius-3xl: 0.25rem;
	--radius-full: 0.25rem;
}

.ncmaztheme-md-radius {
	--radius-sm: 0.375rem;
	--radius-DEFAULT: 0.375rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.375rem;
	--radius-xl: 0.375rem;
	--radius-2xl: 0.375rem;
	--radius-3xl: 0.375rem;
	--radius-full: 0.375rem;
}
.ncmaztheme-lg-radius {
	--radius-sm: 0.5rem;
	--radius-DEFAULT: 0.5rem;
	--radius-md: 0.5rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.5rem;
	--radius-2xl: 0.5rem;
	--radius-3xl: 0.5rem;
	--radius-full: 0.5rem;
}

.ncmaztheme-xl-radius {
	--radius-sm: 0.75rem;
	--radius-DEFAULT: 0.75rem;
	--radius-md: 0.75rem;
	--radius-lg: 0.75rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 0.75rem;
	--radius-3xl: 0.75rem;
	--radius-full: 0.75rem;
}
.ncmaztheme-2xl-radius {
	--radius-sm: 1rem;
	--radius-DEFAULT: 1rem;
	--radius-md: 1rem;
	--radius-lg: 1rem;
	--radius-xl: 1rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1rem;
	--radius-full: 1rem;
}

.ncmaztheme-3xl-radius {
	--radius-sm: 1.5rem;
	--radius-DEFAULT: 1.5rem;
	--radius-md: 1.5rem;
	--radius-lg: 1.5rem;
	--radius-xl: 1.5rem;
	--radius-2xl: 1.5rem;
	--radius-3xl: 1.5rem;
	--radius-full: 1.5rem;
}
