/* FOR PREVIEW */
.wcb-cta__inner {
	gap: 0.75rem;
}

.wcb-button__main {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	color: #fff;
	background-color: #0ea5e9;
}
