.wcb-cta__inner {
	display: flex;
	justify-content: space-between;
}

.wcb-cta__buttons {
	flex-shrink: 0;
}

.wcb-cta__title,
.wcb-cta__description {
	margin: 0;
}

.wcb-cta__description {
	line-height: 1.5;
}
