.wcb-image__wrap {
	position: relative;
	&.alignfull,
	&.alignwide {
		img {
			height: auto;
			width: 100%;
		}
	}
}

.wcb-image__overlay-bg {
	@apply absolute inset-0 bg-black/20;
}

.wcb-image__overlay-content {
	position: absolute;
	inset: 1rem;
}
