.wcb-countdown__box {
    position: relative;
    text-align: center;
}
.wcb-countdown__content {
    display: flex;
    &:not(&.wcb-countdown-5){
        .wcb-countdown__box {
            display: flex;
            flex-direction: column;
            aspect-ratio: 1;
        }
    }
    &.wcb-countdown-1{
        .wcb-countdown__box{
            border-radius: 50%;
            background-color: #f0f0f1;
        }
    }
    &.wcb-countdown-2{
        .wcb-countdown__box{
            border-radius: 50%;
            border: 1px solid #333333;
        }
    }
    &.wcb-countdown-3{
        .wcb-countdown__box{
            border-radius: 4px;
            color: #fff;
            background-color: #2B2B2B;
        }
    }
    &.wcb-countdown-4{
        .wcb-countdown__box{
            border-radius: 4px;
            border: 1px solid rgba(33,33,33,0.67);
        }
    }
    &.wcb-countdown-5{
        .wcb-countdown__box .wcb-countdown__number{
           display: inline-block;
           margin-right: 5px;
        }
        .wcb-countdown__label {
            display: inline-block;
        }
    }
    .wcb-countdown__box {
        justify-content: center;
    }
    .wcb-justify-center {
        justify-content: center;
    }
    .wcb-justify-end {
        justify-content: end;
    }
    .wcb-justify-start {
        justify-content: start;
    }
    .wcb-flex-col {
        flex-direction: column;
    }
    .wcb-flex-row {
        flex-direction: row;
    }
}