.MyBorderControl__BorderRadiusControl {
	.components-border-radius-control .components-base-control__label {
		display: none !important;
	}
}

/*  */
.wcb-BorderBoxControl {
	.components-base-control {
		margin-bottom: 0 !important;
	}
}
/*  */

.wcb-products__wrap,
.wcb-posts-grid__wrap {
	a {
		user-select: none !important;
		pointer-events: none !important;
	}
}

.block-editor-block-icon {
	svg.wcb-editor-block-icons path {
		@apply stroke-emerald-600;
	}
}
.block-editor-list-view-leaf.is-selected
	.block-editor-list-view-block-contents
	svg.wcb-editor-block-icons
	path {
	@apply stroke-white;
}

/*--------  */
/* .block-editor-block-icon .wcb-block-editor-block-icon {
	&.dashicons,
	&.dashicons-before:before {
		@apply w-auto h-auto text-2xl text-blue-500;
	}
}

.is-selected {
	.block-editor-block-icon .wcb-block-editor-block-icon {
		&.dashicons,
		&.dashicons-before:before {
			@apply text-white;
		}
	}
} */
/* ========= */

.block-editor-block-list__layout .block-editor-block-list__block.is-selected {
	box-shadow: 0 0 0 1.5px #007cba;
	border-radius: 2px;
}

.MyDisclosure__labelControl {
	.wcbMyResponsiveToggle__button {
		border-color: #c4b5fd !important;
		&:hover {
			border-color: #a78bfa !important;
		}
	}
}

.wcb-inspectorControls__panel {
	.components-panel__row > .components-spacer {
		width: 100%;
	}

	.components-form-token-field__suggestions-list {
		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.components-notice {
		@apply rounded-sm;
	}

	.components-tab-panel__tabs {
		@apply bg-neutral-200/70  p-1;
		.components-tab-panel__tabs-item {
			@apply h-14;
		}
		.components-button {
			@apply shadow-none focus:shadow-none rounded-md py-1 text-gray-700 hover:text-black transition-colors;
			&.active-tab {
				@apply bg-white shadow-lg text-black;
			}
		}
	}
	.wcb-bodyControls__panel {
		.components-tab-panel__tabs {
			@apply bg-neutral-200/60 text-neutral-700 p-2 rounded-t-lg mb-0;
		}
		.components-tab-panel__tabs-item {
			@apply h-10;
		}
		.components-tab-panel__tab-content {
			@apply border-2 bottom-0 border-slate-200/60 rounded-b-xl py-3 px-2 mt-0;
		}
	}

	.components-panel {
		@apply z-[1];
	}

	.components-focal-point-picker,
	.components-focal-point-picker__media {
		@apply rounded-lg;
	}

	.wcb-MySelect {
		.components-base-control__field,
		.components-base-control {
			@apply mb-0 #{!important};
		}
	}

	.components-input-control__container,
	.components-textarea-control__input,
	.components-combobox-control__suggestions-container,
	.components-toggle-group-control,
	.components-toggle-group-control-option-base,
	.components-custom-gradient-picker__gradient-bar,
	.components-select-control__input,
	.components-form-token-field__input-container {
		@apply rounded-lg;
	}

	.components-text-control__input,
	.components-text-control__input[type="color"],
	.components-text-control__input[type="date"],
	.components-text-control__input[type="datetime-local"],
	.components-text-control__input[type="datetime"],
	.components-text-control__input[type="email"],
	.components-text-control__input[type="month"],
	.components-text-control__input[type="number"],
	.components-text-control__input[type="password"],
	.components-text-control__input[type="tel"],
	.components-text-control__input[type="text"],
	.components-text-control__input[type="time"],
	.components-text-control__input[type="url"],
	.components-text-control__input[type="week"] {
		@apply rounded-lg border-gray-400;
	}

	.components-toggle-group-control > [role="presentation"] {
		@apply rounded-md;
	}

	.components-input-control__backdrop {
		@apply rounded-lg border-slate-200;
	}

	.components-custom-gradient-picker {
		.components-input-control__container {
			input.components-input-control__input {
				@apply pl-1 pr-0.5 text-center #{!important};
			}
			.components-input-control__suffix .components-truncate.components-text {
				@apply mr-2 #{!important};
			}
		}
	}

	.component-box-control__reset-button,
	.component-box-control__linked-button {
		@apply rounded-md;
	}

	.components-button-group {
		@apply inline-flex;
		.components-button {
			@apply mr-1.5 mb-1.5 rounded-lg ring-1 border-0 shadow-none;
			&.is-primary {
				@apply bg-sky-500 ring-sky-500 text-white shadow-none;
			}
			&.is-secondary {
				@apply bg-white text-slate-700 ring-slate-300 hover:ring-slate-400 hover:shadow-none;
			}
		}
	}

	.components-button {
		@apply rounded-md;
		&.active-tab {
		}
	}
	select.components-unit-control__select {
		@apply rounded-r-lg #{!important};
	}

	.components-font-size-picker__controls {
		@apply mb-0;
	}

	.components-form-token-field__token {
		.components-form-token-field__remove-token {
			@apply rounded-l-none rounded-r-lg #{!important};
		}

		.components-form-token-field__token-text {
			@apply rounded-r-none rounded-l-lg #{!important};
		}
	}

	.components-toggle-control {
		label {
			@apply select-none;
		}
	}
}

/*  */
.block-editor-block-variation-picker__variations.block-editor-block-variation-picker__variations {
	column-gap: 1rem;
	row-gap: 1rem;
}

.wcb-buttons__inner {
	.block-list-appender.wp-block {
		box-shadow: inset 0 0 0 1px #cbd5e1;
		margin-right: -60px !important;
		&:hover {
			box-shadow: inset 0 0 0 1px #475569;
		}
		position: absolute;
		list-style: none;
		padding: 0;
		z-index: 2;
		bottom: 0;
		right: 0;
		button {
			padding: 0;
		}
		&:only-child {
			position: relative;
			right: auto;
			align-self: center;
			list-style: none;
			line-height: inherit;
			button {
				padding: 8px;
			}
		}
	}
}

.wcb-VideoBackgroundByBgControl {
	@apply absolute inset-0 z-0 overflow-hidden;
	video {
		@apply absolute inset-0 z-0 max-w-none min-w-full min-h-full w-full h-full object-cover;
		max-height: unset;
	}
}

/*  */
.components-border-control {
	.components-flex {
		@apply rounded-lg;
	}
	.components-border-control-dropdown {
		@apply rounded-l-lg;
	}
	.components-input-control {
		@apply rounded-r-lg;
	}
	button.components-button.is-tertiary {
		@apply rounded-l-lg;
	}
}

/*  */
.block-editor-color-gradient-control__panel {
	.components-circular-option-picker__option {
		border-radius: 999px !important;
	}
}

.wcb-plugin-sidebar-woostify__logosvg {
	@apply text-black;
}
.components-button.is-pressed {
	.wcb-plugin-sidebar-woostify__logosvg {
		@apply text-white;
	}
}
