/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ncmaz-core {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	@apply text-ellipsis col-auto border-collapse border-r border-red-300 bg-slate-50 flex flex-1 justify-start;
}
