.wcb-products__wrap {
	display: block !important;
}

/* FOR PREVIEW */
.wcb-block-products-editor-swithToScrollSnapX__None .wcb-products__list {
	row-gap: 1rem;
	column-gap: 1rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tinvwl-tooltip {
	display: none;
}

.tinvwl-after-add-to-cart {
	margin-top: 10px;
}

.wcb-products__product {	
	.wcb-products__product-onsale {
		// Target specific span classes that might override
		span.onsale,
		.onsale {
			padding-right: 0rem !important;
		}
	}
}