.editor-styles-wrapper .wcb-form__wrap {
	.wp-block {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.wcb-form__wrap {
	.wp-block {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wcb-form__wrap {
	@apply text-base flex flex-col;

	[type="text"],
	[type="email"],
	[type="url"],
	[type="password"],
	[type="number"],
	[type="date"],
	[type="datetime-local"],
	[type="month"],
	[type="search"],
	[type="tel"],
	[type="time"],
	[type="week"],
	[multiple],
	textarea,
	select {
		width: 100%;
	}

	[type="checkbox"],
	[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0;
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		print-color-adjust: exact;
		display: inline-block;
		vertical-align: middle;
		background-origin: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		flex-shrink: 0;
		height: 1rem;
		width: 1rem;
		color: #2563eb;
		background-color: #fff;
		border-color: #6b7280;
		border-width: 1px;
		--tw-shadow: 0 0 #0000;
	}

	[type="checkbox"]:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
		&::before {
			display: none;
		}
	}
	[type="radio"]:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
		&::before {
			display: none;
		}
	}
}

.wcb-form__label {
	display: block;
	color: #374151;
	&.required {
		color: #374151;
		&::after {
			color: #f00;
			content: " *";
		}
	}
}

.wcb-checkbox__option-label {
	color: #374151;
	&.required {
		color: #374151;
		&::after {
			color: #f00;
			content: " *";
		}
	}
}

/*  */
.wcb-form__box {
	@apply flex flex-col gap-y-4;
}

.wcb-form__inner {
	@apply flex-1;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.wcb-form__btn-submit-wrap {
	display: flex;
}

.wcb-form__btn-submit {
	@apply font-medium inline-flex items-center justify-center px-4 py-2;
}

.wcb-form__successMessageText,
.wcb-form__errorMessageText {
	@apply p-5 flex-1;
}
