.wcb-form__successMessageText,
.wcb-form__errorMessageText {
	display: block !important;
}

/* FOR PREVIEW */
.wcb-form__wrap,
.wcb-form__inner {
	display: grid;
	row-gap: 0.5rem;
}

.wcb-form__successMessageText {
	color: #0c4a6e;
	background-color: #f0f9ff;
}

.wcb-form__errorMessageText {
	color: #ef4444;
	background-color: #fef2f2;
}

.wcb-form__btn-submit {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	color: #fff;
	background-color: #0ea5e9;
}
