@import "./common";
// Selected slider not overhiden the top slider
.wcb-slider__item {
    margin-top: 1px;
    margin-bottom: 1px;
}

// Do not css border child item when selected parent
.block-editor-block-list__layout .is-selected.wp-block-wcb-slider {
    box-shadow: none;
}